.Pane {
    background-color: #F6F7F9 !important;
}

.AddRideTitleWrapper {
    background-color: #ffffff;
    border-left: solid 1px #CBCCCE;
    border-right: solid 1px #CBCCCE;
    border-bottom: solid 1px #CBCCCE;
    -webkit-box-shadow: 0px 1px 5px 3px rgba(50, 50, 50, 0.11);
    -moz-box-shadow: 0px 1px 5px 3px rgba(50, 50, 50, 0.11);
    box-shadow: 0px 1px 5px 3px rgba(50, 50, 50, 0.11);
}

.AddFormPane,
.ExtraDetailsPane {
    padding: 0 3% 0 0 !important;
}

.AddRideExtraDetailsPane {
    padding: 0 5% !important;
    text-align: center;
}

    .AddRideExtraDetailsPane h1 {
        color: #000000;
        font-size: 180%;
        line-height: 85%;
        margin: 5% auto;
    }

.ExtraDetailsText {
    border: 1px solid #000000;
    direction: rtl;
    font-size: 16px;
    height: 185px;
    margin: 0;
    padding: 0 2%;
    resize: none;
    border-radius: 0;
    box-shadow: none;
    width: 95%;
}

.CompanyNameTitle {
    margin: 5% 0 3.5%;
    font-size: 25px;
    color: #000000;
}

.AddFormPane div {
    margin: 0 0 10px 0;
}

    .AddFormPane div select {
        border: 1px solid rgb(108, 108, 108);
        float: right;
        height: 29px;
        width: 62%;
        margin: 0 0 4%;
    }

.AddFormPane label,
.AddFormPane input {
    float: right;
	border-color: rgb(108, 108, 108);
}

.ConfirmRideBtn {
background-color: #4c66a3;
cursor: pointer;
height: 39px;
margin: 2.3% 0 0;
color: #ffffff;
}

.AddRideTitleWrapper .ui-input-search:after {
  right: 35%;
  margin-top: 2px;
  margin-left: 0px;
}
.AddRideTitleWrapper .ui-input-search input {
  width: 60%;
  margin-top: -11.5%;
  margin-right: 30%;
}

.AddRideTitleWrapper .ui-listview .ui-li-divider {
  padding: .5em 28px;
  color: rgb(73, 156, 74);
  text-align:right;
  width: 100%;
}

.ui-shadow {
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}

.AddRideTitleWrapper .ui-input-search.ui-input-has-clear .ui-btn.ui-input-clear, .ui-input-text.ui-input-has-clear .ui-btn.ui-input-clear {
  left: 8px;
  top: 8px;
  right: inherit;
}

.AddRideTitleWrapper .ui-listview li a.ui-btn {
  text-align: right;
  direction: rtl;
  width: 100%;
}

.AddRideTitleWrapper .filterable {
  position: relative;
  top: -15px;
  width: 50.3%;
  box-shadow: 0 0 0;
  right: 177px;
}

.AddRideTitleWrapper .ui-grid-a {
  min-height: 488px;
}


@media only screen and (min-width: 1000px) and (max-width: 1100px) {
    .AddFormPane div select {
        height: 20px;
        width: 64%;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1190px) {
    .AddFormPane div select {
        height: 20px;
        width: 64%;
    }
}

@media only screen and (min-width: 1190px) and (max-width: 1280px) {
}

@media only screen and (min-width: 1280px) and (max-width: 1400px) {
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
}

@media only screen and (min-width: 1600px) and (max-width: 1680px) {
}

@media only screen and (min-width: 1680px) and (max-width: 1900px) {
}

@media only screen and (min-width: 1900px) {
}
