
    <div id="jobForm" dir="rtl">
        <div style="width: 40%; height: 20%;">
            <img alt="BusBook" src="Images/logo.jpg" border="0" style="width: 100%" />
        </div>
        <div class="JobOrderTitle" style="margin: 0; font-size: 130%;">הזמנת עבודה:</div>
           תאריך:
            <span id="orderDate">

            </span>
       
        <table width="700">
            <tr>
                <td>
                    <table>
                        <tr>
                            <th colspan="2">פרטי המבצע</th>
                        </tr>
                        <tr>
                            <td>שם חברה</td>
                            <td><%- @owner.companyName%></td>
                        </tr>
                        <tr>
                            <td>איש קשר</td>
                            <td><%- @owner.contactName%></td>
                        </tr>
                        <tr>
                            <td>כתובת</td>
                            <td><%- @owner.address%></td>
                        </tr>
                        <tr>
                            <td>טלפון</td>
                            <td><%- @owner.phoneNumber%></td>
                        </tr><tr>
                            <td>פקס</td>
                            <td><%- @owner.faxNumber%></td>
                        </tr><tr>
                            <td>מייל</td>
                            <td><%- @owner.email%></td>
                        </tr><tr>
                            <td>ח.פ/עוסק מורשה</td>
                            <td><%- @owner.companyNumber%></td>
                        </tr>
                  </table>

                </td>
                <td>
                    <table>
                        <tr>
                            <th colspan="2">פרטי המזמין</th>
                        </tr>
                        <tr>
                            <td>שם חברה</td>
                            <td><%- @customer.companyName%></td>
                        </tr>
                        <tr>
                            <td>איש קשר</td>
                            <td><%- @customer.contactName%></td>
                        </tr>
                        <tr>
                            <td>כתובת</td>
                            <td><%- @customer.address%></td>
                        </tr>
                        <tr>
                            <td>טלפון</td>
                            <td><%- @customer.phoneNumber%></td>
                        </tr>
                        <tr>
                            <td>פקס</td>
                            <td><%- @customer.faxNumber%></td>
                        </tr>
                        <tr>
                            <td>מייל</td>
                            <td><%- @customer.email%></td>
                        </tr>
                        <tr>
                            <td>ח.פ/עוסק מורשה</td>
                            <td><%- @customer.companyNumber%></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center">
            <tr>
                <td align="center" valign="top"></td>
            </tr>

            <tr>
                <td align="right" valign="top">
                    <h1 class="RideDetailsTitle">פרטי הנסיעה:</h1>
                    <table class="RideTable" cellpadding="0" cellspacing="0" border="1">
                        <tr>
                            <td class="LabelTD" align="center" valign="top">
                                <label>סוג רכב:</label>
                            </td>
                            <td align="right" valign="top">
                                <%- @vehicleType %> (<%- @vehicleNumber %>)
                            </td>
                            <td class="LabelTD" align="center" valign="top">
                                <label>תאריך נסיעה:</label>
                            </td>
                            <td align="right" valign="top">
                                <%- @aviliableDate %>
                            </td>
                        </tr>
                        <tr>
                            <td class="LabelTD" align="center" valign="top">
                                <label>שעת התייצבות:</label>
                            </td>
                            <td align="right" valign="top">
                                <%- @aviliableHour %>
                            </td>
                            <td class="LabelTD" align="center" valign="top">
                                <label>מקום התייצבות:</label>
                            </td>
                            <td align="right" valign="top">
                                <%- @area %>
                            </td>
                        </tr>
                        <tr>
                            <td class="LabelTD" align="center" valign="top">
                                <label>מסלול נסיעה:</label>
                            </td>
                            <td align="right" valign="top" colspan="3">
                                <%- @area %> - <%- @destination %>
                            </td>
                        </tr>
                        <tr>
                            <td class="LabelTD" align="center" valign="top">
                                <label>שעת סיום:</label>
                            </td>
                            <td align="right" valign="top">
                                
                            </td>
                            <td class="LabelTD" align="center" valign="top"></td>
                            <td align="right" valign="top"></td>
                        </tr>
                        <tr>
                            <td class="LabelTD" align="center" valign="top">
                                <label>מחיר:</label>
                            </td>
                            <td align="right" valign="top" colspan="3">
                                <%- @price %>
                            </td>
                        </tr>
                        <tr>
                            <td class="LabelTD" align="center" valign="top">
                                <label>הערות:</label>
                            </td>
                            <td align="right" valign="top" colspan="3">
                                <%- @extraDetails %>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!--<tr>
                <td align="right" valign="top">
                    <h1 class="TextTitle">אישור ההזמנה:</h1>
                    <p>
                        BUSNET לא תשא באחריות ותהא פטורה מכל נזק לעניין העברת התמורות וההסכמות אשר יועברו וייקבעו בין משתמשי האתר. ההזמנה ואישור בדבר ביצוע העסקה יישלחו באמצעות האתר - אוטומטית ובאופן מקוון וניתנת בזאת הסכמה בלתי חוזרת של משתמשי האתר כי אישור עסקה מכוון מהווה התחייבות בין משתמשי האתר וכן אסמכתא מספקת לביצוע העסקה ולא תהא ל – BUSNET כל אחריות לעניין תוכנו של אישור עסקה מקוון ו/או ביצוע או אי ביצוע של העסקה.
                    </p>
                </td>
            </tr>
            <tr>
                <td align="right" valign="top">
                    <h1 class="TextTitle">אישור עסקה:</h1>
                    <p>
                        קבלת טופס זה משמעותו אישור לביצוע העסקה. BUSNET לא תשא באחריות ותהא פטורה מכל נזק לעניין העברת התמורות וההסכמות אשר יועברו וייקבעו בין משתמשי האתר. ההזמנה ואישור בדבר ביצוע העסקה יישלחו באמצעות האתר - אוטומטית ובאופן מקוון וניתנת בזאת הסכמה בלתי חוזרת של משתמשי האתר כי אישור עסקה (בצירוף טופה הזמנת העבודה (לרבות פירוט סכום התשלום ותנאי התשלום) מהווה התחייבות בין משתמשי האתר וכן אסמכתא מספקת לביצוע העסקה ולא תהא ל – BUSNET כל אחריות לעניין תוכנו של אישור עסקה מקוון ו/או ביצוע או אי ביצוע של העסקה.
                    </p>
                </td>
            </tr>-->

            <tr>
                <td align="right" valign="top">
                    <h1 class="TextTitle">אישור ההזמנה:</h1>
                    <p>
                        BUSNET לא תשא באחריות ותהא פטורה מכל נזק לעניין העברת התמורות וההסכמות אשר יועברו וייקבעו בין משתמשי האתר. ההזמנה ואישור העסקה יישלחו באמצעות האתר - אוטומטית ובאופן מקוון וניתנת בזאת הסכמה בלתי חוזרת של משתמשי האתר כי אישור עסקה מקוון מהווה התחייבות בין משתמשי האתר ולא תהא ל – BUSNET כל אחריות לעניין תוכנו של אישור עסקה מקוון ו/או ביצוע או אי ביצוע של העסקה.
                    </p>
                </td>
            </tr>
            <tr>
                <td align="right" valign="top">
                    <h1 class="TextTitle">אישור עסקה:</h1>
                    <p>
                        קבלת טופס זה משמעותו אישור לביצוע העסקה            מודגש לטובת משתמשי האתר, כי בכפוף לחוק החוזים (חלק כללי), תשל"ג-1973 (להלן: "החוק") הזמנת העסקה כמוה כהצעה ואישור העסקה כמוהו כקיבול – כמשמעותם בחוק. רק ביצוע התשלום בפועל, קרי: התשלום במזומן, פרעון ההמחאה במועדה או ביצוע העברה בנקאית וזיכוי של חשבון הנעבר בפועל יהוו אסמכתא מספקת לביצוע העסקה.
                    </p>
                </td>
            </tr>


            

            <tr>
                <td align="center" >
                    <!--onclick="paymentApproved('<%- @_id %>', '<%- @username %>');"-->
                    <a id="approveAgreementBtn" href="javascript://"  style="background-color: #0072ff; width:400px; line-height:40px; color:white; display:block; text-decoration:none; font-size:22px; text-align:center;">
                        אשר עסקה במחיר
                        <%- @price %>
                        שח 
                        <br/>
                        מאת
                        <%- @customer.companyName%>
                        עבור
                        <%- @owner.companyName%>
                    </a>
                    <br />
                   
                    <br />
                  <% if @owner.isCalMember and  @customer.isCalMember : %>
                    <a id="approveAgreementPayBtn" data-calurl="<%- @owner.calUrl %>" data-calclientkey="<%- @owner.calClientKey %>"
                       href="javascript://" style="background-color: #0072ff; width:400px; line-height:40px; color:white; display:block; text-decoration:none; font-size:22px; text-align:center;">
                        אשר עסקה במחיר
                        <%- @price %>
                        שח
                        
                        <br />
                        מאת
                        <%- @customer.companyName%>
                        עבור
                        <%- @owner.companyName%>
                        <br />

                        שלם בכרטיס אשראי
                        <i></i>
                    </a>
                    <% end %>
                </td>
            </tr>
        </table>
        <br />
        <br/>
       
    </div>
