
.BusBG {
    background-image: url('https://s3-us-west-2.amazonaws.com/busnet/website/BusBG.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

    .BusBG > #App {
           background-color: transparent !important;
    }

.RegistrationPane {
    /*background-color: rgba(255, 255, 255, 0.77);*/
    background-color: #bababa;
    opacity: 0.9;
    margin: auto;
    width: 70%;
    padding: 0 0 2%;
}

.RegisterationTitle {
    margin: 5% 0 0;
    color: #0072BB;
    text-shadow: none !important;
    display: inline-block;
    font-size: 280%;
}

.BlackTitle {
    margin: 0 0 2%;
    color: #000000 !important;
    font-size: 200%;
    font-weight: bold;
    text-shadow: none !important;
}

.FormField {
    margin: 0 0 1% 0;
}

    .FormField label,
    .FormField input {
        float: right;
        text-shadow: none !important;
    }

    .FormField label {
        width: 25%;
    }

    .FormField input {
        border: 0;
        width: 40%;
    }

    .Email,
    .UserName
    {
        direction: ltr;
        text-align: left;
    }

.AccountDetailsPane {
    padding: 0 2% 0 0 !important;
}

.CompanyDetailsPane {
    padding: 3% 0 0 !important;
}

.RegisterBtn {
    margin: 0 46.2% 0 0;
    width: 20%;
    height: 20%;
    cursor: pointer;
}

    .RegisterBtn img {
        width: 100%;
        height: 100%;
    }
